<%=form_tag admin_sessions_path , :class => 'form-signin' do %>
   <h2 class="form-signin-heading">rBlog</h2>
   <% if flash[:notice]  %>
   		<div class="alert alert-success"><%= flash[:notice] %></div>
   <%end%>

   <% if flash[:alert]  %>
   		<div class="alert alert-danger"><%= flash[:notice] %></div>
   <%end%>

      <%= text_field_tag :email , params[:email],class: 'form-control'%>

      <%= text_field_tag :password ,'', class: 'form-control'%>

      <%= submit_tag "Log In", class:"btn  btn-log btn-primary btn-block" %>
<%end%>